
.large-file-upload-page {
  padding: 20px;
  .upload-file-btn {
    padding: 4px 16px;
    border: 1px solid gray;
  }
  .selected {
    margin-top: 16px;
    .selected-file-list {
      .selected-file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
      }
    }
  }
}
